# IntelliJ project files
.idea
*.iml
*.txt
*.ipr
*.iws
out
gen

# Packaged files
*.app
*.apk
*.zip
*.jar
*.war
*.ear
*.tar.gz
*.rar
*.ipa

# Mac
.DS_Store
/.idea/*

# Java class files
*.class


### Gradle ###
.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Log Files
*.log

# Test output files
**/test-output

# Temp Files
**/*.tmp

**/mappings/*.json
